<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="CSS/pintuer.css">
    <link rel="stylesheet" href="CSS/admin.css">
    <script src="JS/jquery.js"></script>
    <script src="JS/pintuer.js"></script>
    <style>
        ul li{float: left; width: 120px;}
        ul li input{margin-right: 10px;}
    </style>
</head>
<body>
<form action="" method="post">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 角色管理</strong></div>

        <table class="table table-hover text-center">
            <?php foreach($list as $val):?>
            <tr>
                <td width="20%"><input type="checkbox" name="ids[]" value="<{$val->id}>"><{$val->title}></td>
                <td>
                    <?php if(!empty($val->access)):?>
                    <table style="border: 1px solid #cccccc; text-align: left;" width="100%">
                        <?php foreach($val->access as $v):?>
                        <tr style="background: #f9f9f9;">
                            <td><input type="checkbox" name="ids[]" value="<{$v->id}>"><{$v->title}></td>
                        </tr>
                        <tr>
                            <td>
                                <?php if(!empty($v->access)):?>
                                <ul>
                                    <?php foreach($v->access as $k):?>
                                    <li><input type="checkbox" name="ids[]" value="<{$k->id}>"><{$k->title}></li>
                                    <?php endforeach;?>
                                </ul>
                                <?php endif;?>
                            </td>
                        </tr>
                        <?php endforeach;?>
                    </table>
                    <?php endif;?>
                </td>
            </tr>
            <?php endforeach;?>

        </table>

    </div>
    <div class="padding border-bottom">
        <div class="field">
                <input type="hidden" name="id" value="<{$id}>">
                <button type="submit" class="button border-yellow"> 确定</button>
                <button type="button" class="button border-green" id="checkall" onclick="javascript:history.go(-1);tt(this.style.display='none')"> 返回 </button>
         </div>
    </div>
</form>
</body>
</html>